<div class="row">
  <div class="message-log-in">
    <h2> Welcome to our collaborative LaTeX Editor built with Node.js</h2>
    <h3>You Can: </h3>
    <ul>
      <li>Edit Latex Documents with other users</li>
      <li>Share documents with other users</li>
      <li>Request access to documents created by other users</li>
      <li>Compile Latex Documents</li>
    </ul>
	<h3>This Project is based on <a href="https://github.com/alabid/flylatex">FlyLatex</a> 
  </div>
</div>
